<!--<nav class="navbar navbar-expand-lg navbar-dark header_btm">-->
<!--  &lt;!&ndash; <a class="navbar-brand" routerLink="/">Đấu giá trực tuyến Aditii</a> &ndash;&gt;-->
<!--  <button class="navbar-toggler" (click)="tooggleMenu()" type="button" data-toggle="collapse"-->
<!--          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"-->
<!--          aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->

<!--  <div [ngbCollapse]="isCollapse" class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--    <ul class="navbar-nav w-100 mr-auto">-->
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" routerLink="/">Trang chủ</a>-->
<!--      </li>-->
<!--      &lt;!&ndash; <li class="nav-item">-->
<!--        <a class="nav-link" routerLink="/">Phiên đấu giá chung</a>-->
<!--      </li> &ndash;&gt;-->
<!--      &lt;!&ndash; <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Phiên đấu giá của tôi</a>-->
<!--      </li> &ndash;&gt;-->
<!--      <li class="nav-item dropdown" ngbDropdown>-->
<!--        <ng-container *ngIf="user != null">-->
<!--          <a class="nav-link dropdown-toggle" id="navbarDropdown" ngbDropdownToggle role="button"-->
<!--             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--            <span>{{ user.userName }}</span>-->
<!--          </a>-->
<!--          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--            <a *ngFor="let item of currentRole" class="dropdown-item"-->
<!--               [routerLink]="item.route">{{item.name}}</a>-->
<!--&lt;!&ndash;            <a *ngIf="user.role=='USERB'&&!user.vipMember" class="dropdown-item" (click)="upgradeVipmember()" >Nâng cấp vip (Chỉ 15,000VNĐ)</a>&ndash;&gt;-->
<!--          </div>-->
<!--        </ng-container>-->
<!--      </li>-->
<!--    </ul>-->
<!--    <ul class="nav navbar-nav justify-content-end w-100">-->
<!--      <ng-container *ngIf="user">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" routerLink="/login">Đăng nhập</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" routerLink="/sign-up">Đăng ký</a>-->
<!--        </li>-->
<!--      </ng-container>-->
<!--    </ul>-->
<!--    <ng-template #nonUser>-->
<!--      <li class="nav-item">-->
<!--&lt;!&ndash;        <a class="nav-link" (click)="auth.logout()">Đăng xuất</a>&ndash;&gt;-->
<!--      </li>-->
<!--    </ng-template>-->
<!--  </div>-->
<!--</nav>-->
