<!--
<div *ngIf="!products;else showData" class="container m-4">
&lt;!&ndash;<div *ngIf="!products" class="container m-4">&ndash;&gt;
  <div class="row">
    <div *ngFor="let item of [].constructor(8); index as i"
         class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="ph-item">
          <div class="ph-col-12">
            <div class="ph-picture"></div>
            <div class="ph-row">
              <div class="ph-col-10 big"></div>
              <div class="ph-col-2 big empty"></div>
              <div class="ph-col-6"></div>
              <div class="ph-col-6 empty"></div>
              <div class="ph-col-8"></div>
              <div class="ph-col-4 empty"></div>
              <div class="ph-col-8 big"></div>
              <div class="ph-col-4 big empty"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #showData>
  <div class="row">
    <div *ngFor="let product of products" class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12">
&lt;!&ndash;        <p *ngIf="product.auctionCondition.vipAccount" class="badge badge-warning">Thành viên VIP</p>&ndash;&gt;
        &lt;!&ndash; <p class="badge badge-warning">Hoạt động trên 10 ngày</p>	 &ndash;&gt;
        <img [src]="product.Image" class="card-img-top img-product" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.productName}}</h5>
          <div [ngSwitch]="product.Status">
            <div *ngSwitchCase="1">
              <span class="badge badge-success">Đang diễn ra</span>
              <br>
              <label>Còn lại <span>
								{{ product.Timer?.day }} day	{{ product.Timer?.hour }}h:{{ product.Timer?.minute }}m:{{product.Timer?.second}}s
								</span>
              </label>
            </div>
            <div *ngSwitchCase="2">
              <span class="badge badge-danger">Đã kết thúc</span>
            </div>
            <div *ngSwitchCase="0">
              <span class="badge badge-warning">Sắp diễn ra</span>
              <br>
              <label>{{product.startTime | date:'short'}}</label>
            </div>
          </div>
          <a routerLink="/auction-product/{{product.SaleManID}}/{{product.Created}}/{{product.ID}}"
             class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
    </div>
  </div>
</ng-template>
-->
<section class="feature-auction-section padding-bottom padding-top bg_img" data-background="assets/images/auction/featured/featured-bg-1.jpg">
  <div class="container">
    <div class="section-header">
      <h2 class="title">Featured Items</h2>
      <p>Bid and win great deals,Our auction process is simple, efficient, and transparent.</p>
    </div>
    <div class="row justify-content-center mb-30-none">
      <div class="col-sm-10 col-md-6 col-lg-4" *ngFor="let product of products">
        <div class="auction-item-2">
          <div class="auction-thumb">
            <a routerLink="/auction-product"><img src="{{product.Image}}" alt="jewelry"></a>
            <a href="#0" class="rating"><i class="far fa-star"></i></a>
            <a href="#0" class="bid"><i class="flaticon-auction"></i></a>
          </div>
          <div class="auction-content">
            <h6 class="title">
              <a routerLink="/auction-product">{{product.ProName}}</a>
            </h6>
            <div class="bid-area">
              <div class="bid-amount">
                <div class="icon">
                  <i class="flaticon-auction"></i>
                </div>
                <div class="amount-content">
                  <div class="current">Current Bid</div>
                  <div class="amount">$876.00</div>
                </div>
              </div>
              <div class="bid-amount">
                <div class="icon">
                  <i class="flaticon-money"></i>
                </div>
                <div class="amount-content">
                  <div class="current">Buy Now</div>
                  <div class="amount">{{product.PurchasingPrice}}</div>
                </div>
              </div>
            </div>
            <div class="countdown-area">
              <div class="countdown">
                <div id="bid_counter23"></div>
              </div>
              <span class="total-bids">30 Bids</span>
            </div>
            <div class="text-center">
              <a href="#0" class="custom-button">Submit a bid</a>
            </div>
          </div>
        </div>
      </div>
<!--      <div class="col-sm-10 col-md-6 col-lg-4">-->
<!--        <div class="auction-item-2">-->
<!--          <div class="auction-thumb">-->
<!--            <a href="product-details.html"><img src="assets/images/auction/jewelry/auction-2.jpg" alt="jewelry"></a>-->
<!--            <a href="#0" class="rating"><i class="far fa-star"></i></a>-->
<!--            <a href="#0" class="bid"><i class="flaticon-auction"></i></a>-->
<!--          </div>-->
<!--          <div class="auction-content">-->
<!--            <h6 class="title">-->
<!--              <a href="product-details.html">Ring With Clear Stone Accents</a>-->
<!--            </h6>-->
<!--            <div class="bid-area">-->
<!--              <div class="bid-amount">-->
<!--                <div class="icon">-->
<!--                  <i class="flaticon-auction"></i>-->
<!--                </div>-->
<!--                <div class="amount-content">-->
<!--                  <div class="current">Current Bid</div>-->
<!--                  <div class="amount">$876.00</div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="bid-amount">-->
<!--                <div class="icon">-->
<!--                  <i class="flaticon-money"></i>-->
<!--                </div>-->
<!--                <div class="amount-content">-->
<!--                  <div class="current">Buy Now</div>-->
<!--                  <div class="amount">$5,00.00</div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="countdown-area">-->
<!--              <div class="countdown">-->
<!--                <div id="bid_counter24"></div>-->
<!--              </div>-->
<!--              <span class="total-bids">30 Bids</span>-->
<!--            </div>-->
<!--            <div class="text-center">-->
<!--              <a href="#0" class="custom-button">Submit a bid</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-sm-10 col-md-6 col-lg-4">-->
<!--        <div class="auction-item-2">-->
<!--          <div class="auction-thumb">-->
<!--            <a href="product-details.html"><img src="assets/images/auction/watches/auction-2.jpg" alt="jewelry"></a>-->
<!--            <a href="#0" class="rating"><i class="far fa-star"></i></a>-->
<!--            <a href="#0" class="bid"><i class="flaticon-auction"></i></a>-->
<!--          </div>-->
<!--          <div class="auction-content">-->
<!--            <h6 class="title">-->
<!--              <a href="product-details.html">Lady’s Vintage Rolex Datejust</a>-->
<!--            </h6>-->
<!--            <div class="bid-area">-->
<!--              <div class="bid-amount">-->
<!--                <div class="icon">-->
<!--                  <i class="flaticon-auction"></i>-->
<!--                </div>-->
<!--                <div class="amount-content">-->
<!--                  <div class="current">Current Bid</div>-->
<!--                  <div class="amount">$876.00</div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="bid-amount">-->
<!--                <div class="icon">-->
<!--                  <i class="flaticon-money"></i>-->
<!--                </div>-->
<!--                <div class="amount-content">-->
<!--                  <div class="current">Buy Now</div>-->
<!--                  <div class="amount">$5,00.00</div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="countdown-area">-->
<!--              <div class="countdown">-->
<!--                <div id="bid_counter25"></div>-->
<!--              </div>-->
<!--              <span class="total-bids">30 Bids</span>-->
<!--            </div>-->
<!--            <div class="text-center">-->
<!--              <a href="#0" class="custom-button">Submit a bid</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <div class="load-wrapper">
      <a href="#0" class="normal-button">See All Auction</a>
    </div>
  </div>
</section>
<!--============= Feture Auction Section Ends Here =============-->


<!--============= Upcoming Auction Section Starts Here =============-->
<section class="upcoming-auction padding-bottom">
  <div class="container">
    <div class="section-header">
      <h2 class="title">Upcoming Auctions</h2>
      <p>You are welcome to attend and join in the action at any of our upcoming auctions.</p>
    </div>
  </div>
  <div class="filter-wrapper">
    <div class="container">
      <ul class="filter">
        <li class="active" data-check="*">
          <span><i class="flaticon-right-arrow"></i>All</span>
        </li>
        <li data-check=".live">
          <span><i class="flaticon-auction"></i>Live Auction</span>
        </li>
        <li data-check=".time">
          <span><i class="flaticon-time"></i>Time Auction</span>
        </li>
        <li data-check=".buy">
          <span><i class="flaticon-bag"></i>buy now</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="m--15">
      <div class="auction-wrapper-5">

        <div class="auction-item-5 time" *ngFor="let product of products">
          <div class="auction-inner">
            <div class="upcoming-badge" title="Upcoming Auction">
              <i class="flaticon-auction"></i>
            </div>
            <div class="auction-thumb">
              <a href="product-details.html"><img src="{{product.Image}}" alt="upcoming"></a>
              <a href="product-details.html" class="rating"><i class="far fa-star"></i></a>
            </div>
            <div class="auction-content">
              <div class="title-area">
                <h6 class="title">
                  <a href="#0">{{product.ProName}}</a>
                </h6>
                <div class="list-area">
                                        <span class="list-item">
                                            <span class="list-id">Listing ID</span>{{product.ID}}
                                        </span>
                  <span class="list-item">
                                            <span class="list-id">Item #</span>{{product.ID}}
                                        </span>
                </div>
              </div>
              <div class="bid-area">
                <div class="bid-inner">
                  <div class="bid-amount">
                    <div class="icon">
                      <i class="flaticon-auction"></i>
                    </div>
                    <div class="amount-content">
                      <div class="current">Current Bid</div>
                      <div class="amount">$876.00</div>
                    </div>
                  </div>
                  <div class="bid-amount">
                    <div class="icon">
                      <i class="flaticon-money"></i>
                    </div>
                    <div class="amount-content">
                      <div class="current">Buy Now</div>
                      <div class="amount">{{product.PurchasingPrice}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bid-count-area">
                                    <span class="item">
                                        <span class="left">Total Bids</span>97 Bids
                                    </span>
                <span class="item">
                                        <span class="left">Last Bid </span>7 mins ago
                                    </span>
              </div>
            </div>
            <div class="auction-bidding">
              <span class="bid-title">Bidding ends in</span>
              <div class="countdown">
                <div id="bid_counter3"></div>
              </div>
              <div class="bid-incr">
                <span class="title">Bid Increment</span>
                <h4>$3</h4>
              </div>
              <a href="#0" class="custom-button">Submit a bid</a>
            </div>
          </div>
        </div>

<!--        <div class="auction-item-5 live">-->
<!--          <div class="auction-inner">-->
<!--            <div class="upcoming-badge" title="Upcoming Auction">-->
<!--              <i class="flaticon-auction"></i>-->
<!--            </div>-->
<!--            <div class="auction-thumb">-->
<!--              <a href="product-details.html"><img src="assets/images/auction/upcoming/upcoming-2.png" alt="upcoming"></a>-->
<!--              <a href="#0" class="rating"><i class="far fa-star"></i></a>-->
<!--            </div>-->
<!--            <div class="auction-content">-->
<!--              <div class="title-area">-->
<!--                <h6 class="title">-->
<!--                  <a href="product-details.html">14k Gold Geneve Watch,24.5g</a>-->
<!--                </h6>-->
<!--                <div class="list-area">-->
<!--                                        <span class="list-item">-->
<!--                                            <span class="list-id">Listing ID</span>14033488-->
<!--                                        </span>-->
<!--                  <span class="list-item">-->
<!--                                            <span class="list-id">Item #</span>0900-027867-->
<!--                                        </span>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="bid-area">-->
<!--                <div class="bid-inner">-->
<!--                  <div class="bid-amount">-->
<!--                    <div class="icon">-->
<!--                      <i class="flaticon-auction"></i>-->
<!--                    </div>-->
<!--                    <div class="amount-content">-->
<!--                      <div class="current">Current Bid</div>-->
<!--                      <div class="amount">$876.00</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="bid-amount">-->
<!--                    <div class="icon">-->
<!--                      <i class="flaticon-money"></i>-->
<!--                    </div>-->
<!--                    <div class="amount-content">-->
<!--                      <div class="current">Buy Now</div>-->
<!--                      <div class="amount">$5,00.00</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="bid-count-area">-->
<!--                                    <span class="item">-->
<!--                                        <span class="left">Total Bids</span>97 Bids-->
<!--                                    </span>-->
<!--                <span class="item">-->
<!--                                        <span class="left">Last Bid </span>7 mins ago-->
<!--                                    </span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="auction-bidding">-->
<!--              <span class="bid-title">Bidding ends in</span>-->
<!--              <div class="countdown">-->
<!--                <div id="bid_counter4"></div>-->
<!--              </div>-->
<!--              <div class="bid-incr">-->
<!--                <span class="title">Bid Increment</span>-->
<!--                <h4>$3</h4>-->
<!--              </div>-->
<!--              <a href="#0" class="custom-button">Submit a bid</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="auction-item-5 buy">-->
<!--          <div class="auction-inner">-->
<!--            <div class="upcoming-badge" title="Upcoming Auction">-->
<!--              <i class="flaticon-auction"></i>-->
<!--            </div>-->
<!--            <div class="auction-thumb">-->
<!--              <a href="product-details.html"><img src="assets/images/auction/upcoming/upcoming-3.png" alt="upcoming"></a>-->
<!--              <a href="#0" class="rating"><i class="far fa-star"></i></a>-->
<!--            </div>-->
<!--            <div class="auction-content">-->
<!--              <div class="title-area">-->
<!--                <h6 class="title">-->
<!--                  <a href="product-details.html">2009 Toyota Prius (Medford, NY 11763)</a>-->
<!--                </h6>-->
<!--                <div class="list-area">-->
<!--                                        <span class="list-item">-->
<!--                                            <span class="list-id">Listing ID</span>14033488-->
<!--                                        </span>-->
<!--                  <span class="list-item">-->
<!--                                            <span class="list-id">Item #</span>0900-027867-->
<!--                                        </span>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="bid-area">-->
<!--                <div class="bid-inner">-->
<!--                  <div class="bid-amount">-->
<!--                    <div class="icon">-->
<!--                      <i class="flaticon-auction"></i>-->
<!--                    </div>-->
<!--                    <div class="amount-content">-->
<!--                      <div class="current">Current Bid</div>-->
<!--                      <div class="amount">$876.00</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="bid-amount">-->
<!--                    <div class="icon">-->
<!--                      <i class="flaticon-money"></i>-->
<!--                    </div>-->
<!--                    <div class="amount-content">-->
<!--                      <div class="current">Buy Now</div>-->
<!--                      <div class="amount">$5,00.00</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="bid-count-area">-->
<!--                                    <span class="item">-->
<!--                                        <span class="left">Total Bids</span>97 Bids-->
<!--                                    </span>-->
<!--                <span class="item">-->
<!--                                        <span class="left">Last Bid </span>7 mins ago-->
<!--                                    </span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="auction-bidding">-->
<!--              <span class="bid-title">Bidding ends in</span>-->
<!--              <div class="countdown">-->
<!--                <div id="bid_counter5"></div>-->
<!--              </div>-->
<!--              <div class="bid-incr">-->
<!--                <span class="title">Bid Increment</span>-->
<!--                <h4>$3</h4>-->
<!--              </div>-->
<!--              <a href="#0" class="custom-button">Submit a bid</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="auction-item-5 time">-->
<!--          <div class="auction-inner">-->
<!--            <div class="upcoming-badge" title="Upcoming Auction">-->
<!--              <i class="flaticon-auction"></i>-->
<!--            </div>-->
<!--            <div class="auction-thumb">-->
<!--              <a href="product-details.html"><img src="assets/images/auction/upcoming/upcoming-4.png" alt="upcoming"></a>-->
<!--              <a href="#0" class="rating"><i class="far fa-star"></i></a>-->
<!--            </div>-->
<!--            <div class="auction-content">-->
<!--              <div class="title-area">-->
<!--                <h6 class="title">-->
<!--                  <a href="product-details.html">Canon EOS Rebel T6I Digital Camera</a>-->
<!--                </h6>-->
<!--                <div class="list-area">-->
<!--                                        <span class="list-item">-->
<!--                                            <span class="list-id">Listing ID</span>14033488-->
<!--                                        </span>-->
<!--                  <span class="list-item">-->
<!--                                            <span class="list-id">Item #</span>0900-027867-->
<!--                                        </span>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="bid-area">-->
<!--                <div class="bid-inner">-->
<!--                  <div class="bid-amount">-->
<!--                    <div class="icon">-->
<!--                      <i class="flaticon-auction"></i>-->
<!--                    </div>-->
<!--                    <div class="amount-content">-->
<!--                      <div class="current">Current Bid</div>-->
<!--                      <div class="amount">$876.00</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="bid-amount">-->
<!--                    <div class="icon">-->
<!--                      <i class="flaticon-money"></i>-->
<!--                    </div>-->
<!--                    <div class="amount-content">-->
<!--                      <div class="current">Buy Now</div>-->
<!--                      <div class="amount">$5,00.00</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="bid-count-area">-->
<!--                                    <span class="item">-->
<!--                                        <span class="left">Total Bids</span>97 Bids-->
<!--                                    </span>-->
<!--                <span class="item">-->
<!--                                        <span class="left">Last Bid </span>7 mins ago-->
<!--                                    </span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="auction-bidding">-->
<!--              <span class="bid-title">Bidding ends in</span>-->
<!--              <div class="countdown">-->
<!--                <div id="bid_counter6"></div>-->
<!--              </div>-->
<!--              <div class="bid-incr">-->
<!--                <span class="title">Bid Increment</span>-->
<!--                <h4>$3</h4>-->
<!--              </div>-->
<!--              <a href="#0" class="custom-button">Submit a bid</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="auction-item-5 buy">-->
<!--          <div class="auction-inner">-->
<!--            <div class="upcoming-badge" title="Upcoming Auction">-->
<!--              <i class="flaticon-auction"></i>-->
<!--            </div>-->
<!--            <div class="auction-thumb">-->
<!--              <a href="product-details.html"><img src="assets/images/auction/upcoming/upcoming-5.png" alt="upcoming"></a>-->
<!--              <a href="#0" class="rating"><i class="far fa-star"></i></a>-->
<!--            </div>-->
<!--            <div class="auction-content">-->
<!--              <div class="title-area">-->
<!--                <h6 class="title">-->
<!--                  <a href="product-details.html">14K White Gold 185.60 Grams 5.95 Carats.....</a>-->
<!--                </h6>-->
<!--                <div class="list-area">-->
<!--                                        <span class="list-item">-->
<!--                                            <span class="list-id">Listing ID</span>14033488-->
<!--                                        </span>-->
<!--                  <span class="list-item">-->
<!--                                            <span class="list-id">Item #</span>0900-027867-->
<!--                                        </span>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="bid-area">-->
<!--                <div class="bid-inner">-->
<!--                  <div class="bid-amount">-->
<!--                    <div class="icon">-->
<!--                      <i class="flaticon-auction"></i>-->
<!--                    </div>-->
<!--                    <div class="amount-content">-->
<!--                      <div class="current">Current Bid</div>-->
<!--                      <div class="amount">$876.00</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="bid-amount">-->
<!--                    <div class="icon">-->
<!--                      <i class="flaticon-money"></i>-->
<!--                    </div>-->
<!--                    <div class="amount-content">-->
<!--                      <div class="current">Buy Now</div>-->
<!--                      <div class="amount">$5,00.00</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="bid-count-area">-->
<!--                                    <span class="item">-->
<!--                                        <span class="left">Total Bids</span>97 Bids-->
<!--                                    </span>-->
<!--                <span class="item">-->
<!--                                        <span class="left">Last Bid </span>7 mins ago-->
<!--                                    </span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="auction-bidding">-->
<!--              <span class="bid-title">Bidding ends in</span>-->
<!--              <div class="countdown">-->
<!--                <div id="bid_counter7"></div>-->
<!--              </div>-->
<!--              <div class="bid-incr">-->
<!--                <span class="title">Bid Increment</span>-->
<!--                <h4>$3</h4>-->
<!--              </div>-->
<!--              <a href="#0" class="custom-button">Submit a bid</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="auction-item-5 live">-->
<!--          <div class="auction-inner">-->
<!--            <div class="upcoming-badge" title="Upcoming Auction">-->
<!--              <i class="flaticon-auction"></i>-->
<!--            </div>-->
<!--            <div class="auction-thumb">-->
<!--              <a href="product-details.html"><img src="assets/images/auction/upcoming/upcoming-6.png" alt="upcoming"></a>-->
<!--              <a href="#0" class="rating"><i class="far fa-star"></i></a>-->
<!--            </div>-->
<!--            <div class="auction-content">-->
<!--              <div class="title-area">-->
<!--                <h6 class="title">-->
<!--                  <a href="product-details.html">.6 Gram Pure Gold Nugget</a>-->
<!--                </h6>-->
<!--                <div class="list-area">-->
<!--                                        <span class="list-item">-->
<!--                                            <span class="list-id">Listing ID</span>14033488-->
<!--                                        </span>-->
<!--                  <span class="list-item">-->
<!--                                            <span class="list-id">Item #</span>0900-027867-->
<!--                                        </span>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="bid-area">-->
<!--                <div class="bid-inner">-->
<!--                  <div class="bid-amount">-->
<!--                    <div class="icon">-->
<!--                      <i class="flaticon-auction"></i>-->
<!--                    </div>-->
<!--                    <div class="amount-content">-->
<!--                      <div class="current">Current Bid</div>-->
<!--                      <div class="amount">$876.00</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="bid-amount">-->
<!--                    <div class="icon">-->
<!--                      <i class="flaticon-money"></i>-->
<!--                    </div>-->
<!--                    <div class="amount-content">-->
<!--                      <div class="current">Buy Now</div>-->
<!--                      <div class="amount">$5,00.00</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="bid-count-area">-->
<!--                                    <span class="item">-->
<!--                                        <span class="left">Total Bids</span>97 Bids-->
<!--                                    </span>-->
<!--                <span class="item">-->
<!--                                        <span class="left">Last Bid </span>7 mins ago-->
<!--                                    </span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="auction-bidding">-->
<!--              <span class="bid-title">Bidding ends in</span>-->
<!--              <div class="countdown">-->
<!--                <div id="bid_counter8"></div>-->
<!--              </div>-->
<!--              <div class="bid-incr">-->
<!--                <span class="title">Bid Increment</span>-->
<!--                <h4>$3</h4>-->
<!--              </div>-->
<!--              <a href="#0" class="custom-button">Submit a bid</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="auction-item-5 time">-->
<!--          <div class="auction-inner">-->
<!--            <div class="upcoming-badge" title="Upcoming Auction">-->
<!--              <i class="flaticon-auction"></i>-->
<!--            </div>-->
<!--            <div class="auction-thumb">-->
<!--              <a href="product-details.html"><img src="assets/images/auction/upcoming/upcoming-7.png" alt="upcoming"></a>-->
<!--              <a href="#0" class="rating"><i class="far fa-star"></i></a>-->
<!--            </div>-->
<!--            <div class="auction-content">-->
<!--              <div class="title-area">-->
<!--                <h6 class="title">-->
<!--                  <a href="product-details.html">Magnifying Glasses, Jewelry Loupe...</a>-->
<!--                </h6>-->
<!--                <div class="list-area">-->
<!--                                        <span class="list-item">-->
<!--                                            <span class="list-id">Listing ID</span>14033488-->
<!--                                        </span>-->
<!--                  <span class="list-item">-->
<!--                                            <span class="list-id">Item #</span>0900-027867-->
<!--                                        </span>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="bid-area">-->
<!--                <div class="bid-inner">-->
<!--                  <div class="bid-amount">-->
<!--                    <div class="icon">-->
<!--                      <i class="flaticon-auction"></i>-->
<!--                    </div>-->
<!--                    <div class="amount-content">-->
<!--                      <div class="current">Current Bid</div>-->
<!--                      <div class="amount">$876.00</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="bid-amount">-->
<!--                    <div class="icon">-->
<!--                      <i class="flaticon-money"></i>-->
<!--                    </div>-->
<!--                    <div class="amount-content">-->
<!--                      <div class="current">Buy Now</div>-->
<!--                      <div class="amount">$5,00.00</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="bid-count-area">-->
<!--                                    <span class="item">-->
<!--                                        <span class="left">Total Bids</span>97 Bids-->
<!--                                    </span>-->
<!--                <span class="item">-->
<!--                                        <span class="left">Last Bid </span>7 mins ago-->
<!--                                    </span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="auction-bidding">-->
<!--              <span class="bid-title">Bidding ends in</span>-->
<!--              <div class="countdown">-->
<!--                <div id="bid_counter9"></div>-->
<!--              </div>-->
<!--              <div class="bid-incr">-->
<!--                <span class="title">Bid Increment</span>-->
<!--                <h4>$3</h4>-->
<!--              </div>-->
<!--              <a href="#0" class="custom-button">Submit a bid</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="auction-item-5 live">-->
<!--          <div class="auction-inner">-->
<!--            <div class="upcoming-badge" title="Upcoming Auction">-->
<!--              <i class="flaticon-auction"></i>-->
<!--            </div>-->
<!--            <div class="auction-thumb">-->
<!--              <a href="product-details.html"><img src="assets/images/auction/upcoming/upcoming-8.png" alt="upcoming"></a>-->
<!--              <a href="#0" class="rating"><i class="far fa-star"></i></a>-->
<!--            </div>-->
<!--            <div class="auction-content">-->
<!--              <div class="title-area">-->
<!--                <h6 class="title">-->
<!--                  <a href="product-details.html">"Small Primitive Shell" Glass Sculpture</a>-->
<!--                </h6>-->
<!--                <div class="list-area">-->
<!--                                        <span class="list-item">-->
<!--                                            <span class="list-id">Listing ID</span>14033488-->
<!--                                        </span>-->
<!--                  <span class="list-item">-->
<!--                                            <span class="list-id">Item #</span>0900-027867-->
<!--                                        </span>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="bid-area">-->
<!--                <div class="bid-inner">-->
<!--                  <div class="bid-amount">-->
<!--                    <div class="icon">-->
<!--                      <i class="flaticon-auction"></i>-->
<!--                    </div>-->
<!--                    <div class="amount-content">-->
<!--                      <div class="current">Current Bid</div>-->
<!--                      <div class="amount">$876.00</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="bid-amount">-->
<!--                    <div class="icon">-->
<!--                      <i class="flaticon-money"></i>-->
<!--                    </div>-->
<!--                    <div class="amount-content">-->
<!--                      <div class="current">Buy Now</div>-->
<!--                      <div class="amount">$5,00.00</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="bid-count-area">-->
<!--                                    <span class="item">-->
<!--                                        <span class="left">Total Bids</span>97 Bids-->
<!--                                    </span>-->
<!--                <span class="item">-->
<!--                                        <span class="left">Last Bid </span>7 mins ago-->
<!--                                    </span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="auction-bidding">-->
<!--              <span class="bid-title">Bidding ends in</span>-->
<!--              <div class="countdown">-->
<!--                <div id="bid_counter10"></div>-->
<!--              </div>-->
<!--              <div class="bid-incr">-->
<!--                <span class="title">Bid Increment</span>-->
<!--                <h4>$3</h4>-->
<!--              </div>-->
<!--              <a href="#0" class="custom-button">Submit a bid</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</section>
<!--============= Upcoming Auction Section Ends Here =============-->


<!--============= How Section Starts Here =============-->
<section class="how-video-section pos-rel">
  <div class="popular-bg bg_img" data-background="assets/images/auction/popular/popular-bg.png"></div>
  <div class="how-video-shape bg_img d-none d-md-block" data-background="assets/css/img/how-video.png"></div>
  <div class="container">
    <div class="how-video-wrapper">
      <div class="how-video-area">
        <a href="https://www.youtube.com/watch?v=Mj3QejzYZ70" class="popup">
          <h5 class="title">Watch Our Videos</h5>
          <div class="video-button">
            <i class="flaticon-right-arrow-1"></i>
            <span></span>
            <span></span>
          </div>
        </a>
      </div>
    </div>
    <div class="how-wrapper section-bg shadow-style">
      <div class="section-header text-lg-left">
        <h2 class="title">How it works</h2>
        <p>Easy 3 steps to win</p>
      </div>
      <div class="row justify-content-center mb--40">
        <div class="col-md-6 col-lg-4">
          <div class="how-item">
            <div class="how-thumb">
              <img src="assets/images/how/how1.png" alt="how">
            </div>
            <div class="how-content">
              <h4 class="title">Sign Up</h4>
              <p>No Credit Card Required</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="how-item">
            <div class="how-thumb">
              <img src="assets/images/how/how2.png" alt="how">
            </div>
            <div class="how-content">
              <h4 class="title">Bid</h4>
              <p>Bidding is free Only pay if you win</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="how-item">
            <div class="how-thumb">
              <img src="assets/images/how/how3.png" alt="how">
            </div>
            <div class="how-content">
              <h4 class="title">Win</h4>
              <p>Fun - Excitement - Great deals</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--============= How Section Ends Here =============-->


<!--============= Call In Section Starts Here =============-->
<section class="call-in-section padding-top">
  <div class="container">
    <div class="call-wrapper cl-white bg_img" data-background="assets/images/call-in/call-bg.png">
      <div class="section-header">
        <h3 class="title">Register for Free & Start Bidding Now!</h3>
        <p>From cars to diamonds to iPhones, we have it all.</p>
      </div>
      <a href="sign-up.html" class="custom-button white">Register</a>
    </div>
  </div>
</section>
<!--============= Call In Section Ends Here =============-->


<!--============= Client Section Starts Here =============-->
<section class="client-section padding-top padding-bottom">
  <div class="container">
    <div class="section-header">
      <h2 class="title">Don’t just take our word for it!</h2>
      <p>Our hard work is paying off. Great reviews from amazing customers.</p>
    </div>
    <div class="m--15">
      <div class="client-slider owl-theme owl-carousel">
        <div class="client-item">
          <div class="client-content">
            <p>I can't stop bidding! It's a great way to spend some time and I want everything on Sbidu.</p>
          </div>
          <div class="client-author">
            <div class="thumb">
              <a href="#0">
                <img src="assets/images/client/client01.png" alt="client">
              </a>
            </div>
            <div class="content">
              <h6 class="title"><a href="#0">Alexis Moore</a></h6>
              <div class="ratings">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="client-item">
          <div class="client-content">
            <p>I came I saw I won. Love what I have won, and will try to win something else.</p>
          </div>
          <div class="client-author">
            <div class="thumb">
              <a href="#0">
                <img src="assets/images/client/client02.png" alt="client">
              </a>
            </div>
            <div class="content">
              <h6 class="title"><a href="#0">Darin Griffin</a></h6>
              <div class="ratings">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="client-item">
          <div class="client-content">
            <p>This was my first time, but it was exciting. I will try it again. Thank you so much.</p>
          </div>
          <div class="client-author">
            <div class="thumb">
              <a href="#0">
                <img src="assets/images/client/client03.png" alt="client">
              </a>
            </div>
            <div class="content">
              <h6 class="title"><a href="#0">Tom Powell</a></h6>
              <div class="ratings">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--============= Client Section Ends Here =============-->


<!--============= Footer Section Starts Here =============-->
